.wrapper {
    position: relative;
    width: 25px;
    height: 25px;
    overflow: hidden;
  }
  
  .leftHalf, .rightHalf, .spinner {
    top: 0;
    position: absolute;
    width: 50%;
    height: 100%;

  }
  
  .leftHalf {
    left: 0;
    background: #fff;
    z-index: 3;
    opacity: 1;
    animation: showHide 1s steps(1, end) forwards;
    border-radius: 100% 0 0 100%/ 50% 0 0 50%;
  }
  
  .rightHalf {
    right: 0;
    background: #1B75E9;
    z-index: 1;
    opacity: 0;
    animation: showHide 1s steps(1, end) reverse forwards;
    border-radius: 0 100% 100% 0/ 0 50% 50% 0;
  }
  
  .spinner {
    overflow: hidden;
    left: 0;
    background: #1B75E9;
    animation: spin 1s linear forwards;
    transform-origin: center right;
    z-index: 2;
    border-radius: 100% 0 0 100%/ 50% 0 0 50%;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes showHide {
    0% {
      opacity: 1;
    }
  
    50%, 100% {
      opacity: 0;
    }
  }
  