@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
   /* touch-action: none; */
}

body {
    background-color: #F6F5FA;
}

